//Fonts
$font-stack: "Overpass", "Lucida Grande", Arial, sans-serif;

//Colors
$dark-gray: #333;
$gray: #666;
$semi-light-gray: #999;
$light-gray: #ccc;
$lighter-gray: #cecece;
$lightest-gray: #f2f2f2;
$orange: #f50;
$dark-orange: #E13A00;
$white: #fff;
