@import "../base/variables.scss";

.global-play-btn {
  border: none;
  margin: 0 0 0 2px;
  padding: 0;
}

.subnav-button {
  border: 1px solid $lightest-gray;

  span {
    padding-left: 5px;
  }
}

.subnav-button:hover {
  border: 1px solid $light-gray;
  color: $dark-gray;
}

.following-button {
  color: $orange;
}

.following-button:hover, .follow-button:hover {
  border-color: $orange;
  color: $orange;
}

//PROGRESS SLIDER

$slider-width: 3px;

.slider {
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 20;
    width: 100%;
    height: $slider-width;
    border-radius: 5px;
    background: none;
    outline: none;
}

.slider::-webkit-slider-thumb {
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: $slider-width;
    height: $slider-width;
    border-radius: 50%;
    background: $orange;
    transition: .1s;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    width: 10px;
    height: 10px;
}

.slider::-moz-range-thumb {
  box-sizing: border-box;
  opacity: 1;
  -webkit-appearance: none;
  appearance: none;
  width: $slider-width;
  height: $slider-width;
  border-radius: 50%;
  background: $orange;
  transition: .1s;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
}

.slider-background {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 15px;
  background-color: $gray;
  position: relative;
  height: $slider-width;
}

.slider-progress {
    height: $slider-width;
    position: absolute;
    background-color: $orange;
    bottom: 0px;
}
