@import "base/variables.scss";

.navbar-container {
  display: flex;
  align-items: center;
  font: 100 14px/1.5;
  color: $light-gray;
  background-color: $dark-gray;
  width: 100%;
  height: 46px;

  img {
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  min-width: 900px;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: $light-gray;
  margin-bottom: 50px;
}

.music-player-container {
  position: fixed;
  height: 50px;
  background-color: $light-gray;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
