.main-content {
  width: 1180px;
  padding: 0 30px;
  margin: auto;
}

.frontHero {
    color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 4px solid #f50;
    background-color: #666;
    height: 450px;
    background: url(https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg) 0 0/cover no-repeat;
    -webkit-font-smoothing: antialiased;
}
