@import "../base/variables.scss";

.animate {

}

.app-content {
  width: 90%;
  min-width: 900px;
  margin: 0 auto;
  font-family: $font-stack;
}

button {
  border: .5px solid $light-gray;
  padding: 0 15px;
  margin: 0 6px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;

  &:hover {
    border-color: $white;
  }
}
