@import "../base/variables.scss";

.front-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
    border-top: 4px solid $orange;
    background-color: #666;
    height: 450px;
    background: linear-gradient(90deg, rgba(50, 0, 25, 0.5), rgba(50, 0, 25, 0.9) ),
      url(image-path('alice-moore-192521.jpg')) no-repeat center;
    background-size: 100%;
    -webkit-font-smoothing: antialiased;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;

  h1 {
    padding-left: 25px;
    font-size: 14px;
    font-weight: 1000;
  }
}

.session_buttons {
  padding: 0 25px;
}

.orange-btn {
  background-color: $orange;
  border-color: $orange;

  &:hover {
    border-color: $orange;
  }
}

.hero-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 100;
  }

  p {
    font-size: 18px;
    max-width: 530px;
    text-align: center;
  }

  button {
    font-size: 18px;
    min-width: 210px;
    height: 46px;
    text-align: center;
    margin-top: 30px;
  }
}
