@import "../base/variables.scss";

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(242,242,242,0.9); /* Black w/ opacity */

  .close-button {
    position: fixed;
    right: -18px;
    padding: 20px;
    height: 46px;
    width: 46px;
    border: none;

    .fa-times {
      font-size: 2.3em;
      height: 40px;
      width:40px;
    }
  }
}

.edit-form-container {
  color: $white;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 76px auto;
  padding: 20px 20px 20px 20px;
  width: 450px;
  height: 300px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  input {
    color: $dark-gray;
    font-size: 18;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    width: 100%;
  }
}

.session-form-container {
  color: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 76px auto;
  padding: 20px;
  width: 450px;
  height: 300px;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

  input {
    color: $dark-gray;
    font-size: 18;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    width: 100%;
  }
}

.form-button {
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 100%;
}

.session-errors {
  color: #f50;
  padding: 6px 0 5px;
  transition: transform .12s,padding .12s,min-height .12s,opacity .2s;
}
