@import "../base/variables.scss";

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(242,242,242,0.9);
  animation-duration: 500ms;

  .close-button {
    position: fixed;
    right: -18px;
    padding: 20px;
    height: 46px;
    width: 46px;
    border: none;

    .fa-times {
      font-size: 2.3em;
      height: 40px;
      width:40px;
    }
  }
}

.form-container {
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 80px auto;
  padding: 20px;
  animation-duration: 500ms;
}

.edit-container {
  width: 800px;
  height: 400px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: $font-stack;

  input {
    color: $dark-gray;
    font-size: 18;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    width: 100%;
  }
}

.session-container {
  width: 450px;
  height: 300px;
}

.form-button {
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 100%;
}

.session-errors {
  color: #f50;
  padding: 6px 0 5px;
  transition: transform .12s,padding .12s,min-height .12s,opacity .2s;
}

.song-update-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  box-sizing: content-box;

  .image {
    height: 260px;
  }
}

.song-update-container {
  width: 800px;
  height: 100%;
  border: 1px solid $lightest-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;

  form {
    width: 430px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      font-size: 14px;
    }

    input {
      border: 1px solid $lighter-gray;
      border-radius: 5px;
      font-size: 14px;
      padding: 2px 15px;
    }
  }
}
