@import "base/variables.scss";
$icon-size: 30px;

.player-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $lightest-gray;
  border-top: 1px solid $lighter-gray;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 960px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: $font-stack;
  width: 90%;

}

.playback-controls {
  width: 60px;
  display: flex;
  justify-content: center;


  .play-btn {
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

.elapsed {
  color: $orange;
  font-size: 12px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-grow: 1;
}

.duration {
  font-size: 12px;
}

.volume-nav {
  position: relative;
}
.volume-btn {
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0 30px 0 40px;
}

.volume-popup {
  position: absolute;
  background: $lightest-gray;
  border: 1px solid $light-gray;
  padding: 7px 15px;
  bottom: 27px;
  left: 27px;
  z-index: 3;
}

.player-art {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

.player-song-details {
  display: flex;
  width: 360px;
}

.artist-name {
  font-size: 10px;
  color: $gray;
}

.song-name {
  font-size: 10px;
  color: $dark-gray;
}


$color-hover: desaturate(darken(green, 20%), 10%);
$color-active: fade-out($color-hover, 0.5);

// Sliders
//

.ProgressBar,
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 3px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: $orange;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle,
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .ProgressBar-intent,
      .VolumeSlider-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed,
    .VolumeSlider-value {
      background: $orange;
    }
  }
}

.ProgressBar {
  height: 1px;
  margin: 10px 0;
  width: 100%;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

.VolumeSlider {
  width: 2px;
  height: 100px;
  // margin: 10px 0;

  &-value {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &-seek {
    left: -6px;
    top: 0;
    right: -6px;
    bottom: 0;
  }

  &-handle {
    left: 0;
    margin: 0 0 -8px -4px;
  }

  &.isEnabled {
    &:hover {
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .VolumeSlider-intent {
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

//animation

.animated-vol {
  animation-duration: .5s;
  animation-fill-mode: both;
}

@keyframes dropUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}
